# Import

In [1]:
# #.py modules
# import acquire as ac
# import prepare as p
# import explore as ex
# import evaluate as ev
import wrangle as w

#standard
import pandas as pd
import numpy as np
import re

#scraping
import requests
from requests import get
from bs4 import BeautifulSoup

#file
import os
import json
from google.oauth2 import service_account
import pandas_gbq

#vizz
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud

#preprocess
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#split and model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

#set random state
random_state=123

#ignore warnings
import warnings
warnings.filterwarnings("ignore")

imports loaded successfully, awaiting commands...

In [2]:
# credentials = service_account.Credentials.from_service_account_file(
#     'my-ds-projects-d864a770b51b.json',
# )

In [3]:
# df = pandas_gbq.read_gbq("select * from cfpb_complaints.complaint_database",dialect='standard',project_id="my-ds-projects",use_bqstorage_api=True,credentials=credentials)
# df

In [4]:
# df.to_csv('ccr.csv')

In [5]:
# df = pd.read_csv('ccr.csv')

In [6]:
# df.describe()

In [7]:
# p.basic_clean(df)

In [8]:
# import os
# from google.cloud import bigquery

# # Set the environment variable
# os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'my-ds-projects-d864a770b51b.json'

# # Initialize a BigQuery client
# client = bigquery.Client()

# # Now you can use the client...

In [9]:
# from google.cloud import bigquery

# # Initialize a BigQuery client
# client = bigquery.Client()

# # Define your query
# query = """
#     SELECT *
#     FROM `bigquery-public-data.cfpb_complaints.complaint_database`
# """

# # Run the query
# query_job = client.query(query)

# # Get the results as a pandas DataFrame
# df_2 = query_job.to_dataframe()

# # Now you can analyze the data using pandas, for example:
# summary = df_2.describe(include='all')

In [10]:
# summary

In [11]:
# df_2.to_csv('cfpb.csv')

In [12]:
# Print the first few rows of the DataFrame
# df_2.head()

In [13]:
# Print the summary statistics of the DataFrame
# print(df_2.describe())

In [14]:
# Print the column names
# print(df_2.columns)

In [15]:
# Count the number of non-NA values
# print(df_2.count())

In [16]:
# Compute pairwise correlation of columns
# print(df.corr())

In [17]:
# df.dropna()

In [18]:
# import nltk

# nltk.download('vader_lexicon')

In [19]:
# df.info()

In [20]:
# df.product()

In [21]:
# df.head()

In [22]:
# w.data_summary(df)

In [23]:
# df_2['product'].value_counts()

In [24]:
# df_2['subproduct'].value_counts()

In [25]:
# df_2['issue'].value_counts()

In [26]:
# df_2['company_name'].value_counts()

In [27]:
# df_2['state'].value_counts()

In [28]:
# df_2['zip_code'].value_counts()

In [29]:
# df_2['tags'].value_counts()

In [30]:
# df_2['consumer_consent_provided'].value_counts()

In [31]:
# df_2['submitted_via'].value_counts()

In [32]:
# df_2['company_response_to_consumer'].value_counts()

In [33]:
# df_2['timely_response'].value_counts()

In [34]:
# df_2['consumer_disputed'].value_counts()

In [35]:
# df_2['company_public_response'].value_counts()

In [36]:
# import nltk
# nltk.download('stopwords')

In [37]:
# import nltk
# nltk.download('wordnet')

In [38]:
# import nltk
# nltk.download('omw-1.4')

In [39]:
# sample_df = word_df.sample(frac=0.1)

In [40]:
df = w.check_file_exists_gbq('cfpb.csv', 'my-ds-projects-d864a770b51b.json')

csv file found and loaded

In [41]:
# df['issue'].value_counts()

In [42]:
# df_clean = w.clean_data(df)

In [43]:
# df_clean.to_parquet('df_clean.parquet')

In [44]:
df_clean = pd.read_parquet('df_clean.parquet')

In [45]:
df_clean.head()

,date_received,narrative,company_name,state,tags,company_response_to_consumer,product_bins
0,2019-03-02,"I was locked out of my credit report by XXXX, ...",Experian Information Solutions Inc.,IL,Average Person,Closed with explanation,credit_report
1,2022-12-11,I asked that the credit agency remove negative...,Experian Information Solutions Inc.,MS,Average Person,Closed with non-monetary relief,credit_report
2,2017-07-26,Dear XXXX XXXX XXXX ( Citibank/The Student Loa...,"CITIBANK, N.A.",CT,Average Person,Closed with explanation,debt_collection
3,2017-12-14,Dear CFPB Attached below is a copy of my corre...,"Coinbase, Inc.",UNKNOWN,Average Person,Closed with explanation,money_service
4,2021-07-08,I have submitted multiple requests by mail to ...,Experian Information Solutions Inc.,KY,Average Person,Closed with non-monetary relief,credit_report

In [46]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246736 entries, 0 to 1246735
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   date_received                 1246736 non-null  datetime64[ns]
 1   narrative                     1246736 non-null  object
 2   company_name                  1246736 non-null  object
 3   state                         1246736 non-null  object
 4   tags                          1246736 non-null  object
 5   company_response_to_consumer  1246736 non-null  object
 6   product_bins                  1246736 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 66.6+ MB

In [47]:
# df_prep = w.prep_narrative(df_clean)

In [48]:
# df_prep.to_parquet('df_prep.parquet')

In [49]:
df_prep = pd.read_parquet('df_prep.parquet')

In [50]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246736 entries, 0 to 1246735
Data columns (total 9 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   date_received                 1246736 non-null  datetime64[ns]
 1   narrative                     1246736 non-null  object
 2   company_name                  1246736 non-null  object
 3   state                         1246736 non-null  object
 4   tags                          1246736 non-null  object
 5   company_response_to_consumer  1246736 non-null  object
 6   product_bins                  1246736 non-null  object
 7   clean                         1246736 non-null  object
 8   lemon                         1246736 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 85.6+ MB

In [51]:
# train, validate, test = w.split_data(df_prep,"company_response_to_consumer")

# Prepared DF: (1246736, 10)
# Train: (748041, 10)
# Validate: (249347, 10)
# Test: (249348, 10)

In [52]:
# train.to_parquet('train.parquet')
# validate.to_parquet('validate.parquet')
# test.to_parquet('test.parquet')

In [53]:
train = pd.read_parquet('train.parquet')
validate = pd.read_parquet('validate.parquet')
test = pd.read_parquet('test.parquet')

In [54]:
train.head()

,date_received,narrative,company_name,state,tags,company_response_to_consumer,product_bins,clean,lemon
943705,2020-03-10,I clicked on a link that was advertised as a f...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",UNKNOWN,Average Person,Closed with monetary relief,credit_report,i clicked on a link that was advertised as a f...,clicked link advertised free online credit rep...
575036,2020-12-31,After looking over my credit reports. I notice...,"TRANSUNION INTERMEDIATE HOLDINGS, INC.",OH,Average Person,Closed with explanation,credit_report,after looking over my credit reports i noticed...,looking credit report noticed fraudulent accou...
528231,2022-03-26,Sometime within the past year I applied for an...,"ENOVA INTERNATIONAL, INC.",NJ,Average Person,Closed with explanation,debt_collection,sometime within the past year i applied for an...,sometime within past year applied account netc...
753525,2015-12-11,"The debt was opened in error by the Provider, ...",Collection Management Company,PA,Average Person,Closed with explanation,debt_collection,the debt was opened in error by the provider w...,debt opened error provider knew opened error n...
1006881,2022-08-18,I have ( 2 ) loans with One Main Financial in ...,OneMain Finance Corporation,OH,Servicemember,Closed with explanation,loans,i have loans with one main financial in ohio i...,loan one main financial ohio paying loan sever...

In [55]:
# Print the summary statistics of the DataFrame
train.describe()

,date_received,narrative,company_name,state,tags,company_response_to_consumer,product_bins,clean,lemon
count,748041,748041,748041,748041,748041,748041,748041,748041,748041
unique,2907,665660,4925,64,4,5,7,624217,616173
top,2023-01-20 00:00:00,My credit reports are inaccurate. These inaccu...,"EQUIFAX, INC.",CA,Average Person,Closed with explanation,credit_report,in accordance with the fair credit reporting a...,accordance fair credit reporting act account v...
freq,1272,1084,117214,92628,640169,589373,384123,2335,3702
first,2015-03-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2023-03-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Print the column names
print(train.columns)

Index(['date_received', 'narrative', 'company_name', 'state', 'tags',
       'company_response_to_consumer', 'product_bins', 'clean', 'lemon'],
      dtype='object')

In [57]:
# Count the number of non-NA values
print(train.count())

date_received                   748041
narrative                       748041
company_name                    748041
state                           748041
tags                            748041
company_response_to_consumer    748041
product_bins                    748041
clean                           748041
lemon                           748041
dtype: int64

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748041 entries, 943705 to 842779
Data columns (total 9 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date_received                 748041 non-null  datetime64[ns]
 1   narrative                     748041 non-null  object
 2   company_name                  748041 non-null  object
 3   state                         748041 non-null  object
 4   tags                          748041 non-null  object
 5   company_response_to_consumer  748041 non-null  object
 6   product_bins                  748041 non-null  object
 7   clean                         748041 non-null  object
 8   lemon                         748041 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 57.1+ MB

# Do specific issues tend to receive specific responses? For example, do issues related to fraud tend to receive more "closed with relief" responses compared to other issues?

In [59]:
df

,date_received,product,subproduct,issue,subissue,consumer_complaint_narrative,company_public_response,company_name,state,zip_code,tags,consumer_consent_provided,submitted_via,date_sent_to_company,company_response_to_consumer,timely_response,consumer_disputed,complaint_id
0,2022-07-16,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,Company has responded to the consumer and the ...,Experian Information Solutions Inc.,PA,19136,NaN,Consent not provided,Web,2022-07-16,Closed with explanation,True,NaN,5777486
1,2023-01-23,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,Company has responded to the consumer and the ...,Experian Information Solutions Inc.,NV,89139.0,NaN,Consent not provided,Web,2023-01-23,Closed with explanation,True,NaN,6476526
2,2022-06-15,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,Company has responded to the consumer and the ...,Experian Information Solutions Inc.,NC,27591.0,NaN,Consent not provided,Web,2022-06-15,Closed with explanation,True,NaN,5675690
3,2022-10-09,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,Company has responded to the consumer and the ...,Experian Information Solutions Inc.,OH,44266.0,NaN,Consent not provided,Web,2022-10-09,Closed with non-monetary relief,True,NaN,6064894
4,2019-03-02,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information is missing that should be on the r...,"I was locked out of my credit report by XXXX, ...",Company has responded to the consumer and the ...,Experian Information Solutions Inc.,IL,62702.0,NaN,Consent provided,Web,2019-03-02,Closed with explanation,True,NaN,3167321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458901,2022-09-10,Vehicle loan or lease,Loan,Getting a loan or lease,Credit denial,I did an application for a consumer credit tra...,NaN,"Consumer Portfolio Services, Inc.",IL,60426.0,NaN,Consent provided,Web,2022-09-10,Closed with explanation,True,NaN,5968205
3458902,2022-08-04,Debt collection,Other debt,Attempts to collect debt not owed,Debt is not yours,NaN,NaN,"Credence Resource Management, LLC",IL,60827.0,NaN,Consent not provided,Web,2022-08-04,Closed with non-monetary relief,True,NaN,5844025
3458903,2018-05-30,"Credit reporting, credit repair services, or o...",Credit reporting,Problem with a credit reporting company's inve...,Investigation took more than 30 days,I sent the following correspondence to credenc...,NaN,"Credence Resource Management, LLC",LA,70122.0,NaN,Consent provided,Web,2018-05-30,Closed with explanation,True,NaN,2922074
3458904,2019-10-17,Debt collection,Medical debt,Attempts to collect debt not owed,Debt is not yours,{$2600.00} I do not owe this debt and it does ...,NaN,PORTFOLIO RECOVERY ASSOCIATES INC,GA,30357.0,NaN,Consent provided,Web,2019-10-17,Closed with non-monetary relief,True,NaN,3408261
3458905,2019-02-11,Debt collection,Credit card debt,Attempts to collect debt not owed,Debt was result of identity theft,I am an ID Theft Victim and reported my consum...,NaN,PORTFOLIO RECOVERY ASSOCIATES INC,HI,96822.0,NaN,Consent provided,Web,2019-02-11,Closed with non-monetary relief,True,NaN,3148231

In [60]:
# Group by 'issue' and 'company_response_to_consumer', then count the number of occurrences
issue_response_counts = df.groupby(['issue', 'company_response_to_consumer']).size()
issue_response_counts

issue                             company_response_to_consumer
APR or interest rate              Closed                               40
                                  Closed with explanation            2898
                                  Closed with monetary relief        1313
                                  Closed with non-monetary relief     486
                                  Closed with relief                  342
                                                                     ...
Wrong amount charged or received  Closed with explanation             853
                                  Closed with monetary relief         207
                                  Closed with non-monetary relief      28
                                  In progress                           3
                                  Untimely response                     1
Length: 874, dtype: int64

In [61]:
# Convert the counts to a DataFrame and reset the index
issue_response_df = issue_response_counts.to_frame(name='count').reset_index()

In [62]:
# Sort the DataFrame by 'count' in descending order to see which combinations of issue and response are most common
issue_response_df = issue_response_df.sort_values('count', ascending=False)

# Print the DataFrame
issue_response_df

,issue,company_response_to_consumer,count
420,Incorrect information on your report,Closed with explanation,643764
617,Problem with a credit reporting company's inve...,Closed with explanation,333207
404,Improper use of your report,Closed with explanation,229020
422,Incorrect information on your report,Closed with non-monetary relief,180511
75,Attempts to collect debt not owed,Closed with explanation,142435
...,...,...,...
472,Lost or stolen money order,Untimely response,1
443,Lender sold the property,Untimely response,1
438,Lender repossessed or sold the vehicle,Closed,1
414,Incorrect exchange rate,Untimely response,1
873,Wrong amount charged or received,Untimely response,1

## Do specific words tend to receive specific responses? For example, do words related to fraud tend to receive more "closed with relief" responses compared to other issues?

## Or do specific responses are associated with specific words from the narrative?

Invistigation:
* will be separation each word by row and then will be doing a count of how many times the word appears in the narrative (lemon)
* will be only doing it on a max_features of 20,000
* once we have the count of each word will be comparing it with the specific response to

In [63]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# Initialize a CountVectorizer (or TfidfVectorizer)
vectorizer = CountVectorizer(max_features=20000)

# Fit the vectorizer to the 'lemon' column and transform the column into a matrix
word_matrix = vectorizer.fit_transform(train['lemon'])

# Convert the sparse matrix to a DataFrame
# word_df = pd.DataFrame.sparse.from_spmatrix(word_matrix, columns=vectorizer.get_feature_names_out())

In [64]:
# Convert the sparse matrix to a DataFrame
words_df = pd.DataFrame.sparse.from_spmatrix(word_matrix, columns=vectorizer.get_feature_names_out())

In [65]:
words_df

,aa,aaa,aaccount,aadvantage,aafes,aag,aams,aan,aand,aargon,...,zion,zip,zipcode,zombie,zone,zoned,zoning,zoom,zuntafi,zwicker
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
748037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
748038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
748039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
748040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
# merge the word DataFrame with the 'company_response_to_consumer' column
df_with_words = words_df.merge(train['company_response_to_consumer'], left_index=True, right_index=True)

In [67]:
df_with_words

,aa,aaa,aaccount,aadvantage,aafes,aag,aams,aan,aand,aargon,...,zip,zipcode,zombie,zone,zoned,zoning,zoom,zuntafi,zwicker,company_response_to_consumer
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with explanation
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with non-monetary relief
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with non-monetary relief
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with explanation
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with non-monetary relief
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with explanation
748034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with explanation
748037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with monetary relief
748038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with explanation
748039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Closed with monetary relief

In [ ]:
# For each word, calculate the mean 'company_response_to_consumer'
word_means = df_with_words.groupby('company_response_to_consumer').mean()

In [ ]:
word_means

In [ ]:
# Filter out rows (axis=0) where all values are zero
word_means = word_means.loc[word_means.any(axis=1)]

In [ ]:
# Filter out rows (axis=0) where all values are zero
word_means

In [ ]:
# Filter out columns (axis=1) where all values are zero
word_means_ones = word_means.loc[:, word_means.any(axis=0)]

In [ ]:
word_means_ones

In [ ]:
word_means_ones_v2 = word_means.loc[:, (word_means == 1).any(axis=0)]

In [ ]:
word_means_ones_v2

# Second approach to the above question.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize a CountVectorizer
vectorizer = CountVectorizer(max_features=20000)

# Fit the vectorizer to the 'lemon' column and transform the column into a matrix
word_matrix = vectorizer.fit_transform(train['lemon'])

# Convert the sparse matrix to a DataFrame
word_df = pd.DataFrame.sparse.from_spmatrix(word_matrix, columns=vectorizer.get_feature_names_out())

# merge the word DataFrame with the 'company_response_to_consumer' column
df_with_words = word_df.merge(train['company_response_to_consumer'], left_index=True, right_index=True)

# For each response type, count the frequency of each word
word_counts = df_with_words.groupby('company_response_to_consumer').sum()

# Filter out columns (axis=1) where all values are zero
word_counts_ones = word_counts.loc[:, word_counts.any(axis=0)]

In [ ]:
word_counts_ones

In [ ]:
#This will give you the 10 words that appear most frequently in narratives associated with the "Closed with explanation" response. 
word_counts_ones.loc['Closed with explanation'].nlargest(10)

#This will give you the 10 words that appear most frequently in narratives associated with the "Closed with explanation" response. 
word_counts_ones.loc['Closed'].nlargest(10)

#This will give you the 10 words that appear most frequently in narratives associated with the "Closed with explanation" response. 
word_counts_ones.loc['Closed with monetary relief'].nlargest(10)

#This will give you the 10 words that appear most frequently in narratives associated with the "Closed with explanation" response. 
word_counts_ones.loc['Closed with non-monetary relief'].nlargest(10)

#This will give you the 10 words that appear most frequently in narratives associated with the "Closed with explanation" response. 
word_counts_ones.loc['Untimely response'].nlargest(10)

In [ ]:
# Define the responses
responses = ['Closed with explanation', 'Closed', 'Closed with monetary relief', 'Closed with non-monetary relief', 'Untimely response']

# Initialize an empty DataFrame to store the results
top_words_df = pd.DataFrame()

# Loop over the responses
for response in responses:
    # Get the 10 words that appear most frequently in narratives associated with the current response
    top_words = word_counts_ones.loc[response].nlargest(10)
    
    # Convert the Series to a DataFrame and transpose it
    top_words_df_temp = pd.DataFrame(top_words).transpose()
    
    # Append the temporary DataFrame to the main DataFrame
    top_words_df = pd.concat([top_words_df, top_words_df_temp])

# Set the index of the DataFrame to the responses
top_words_df.index = responses

top_words_df

In [ ]:
# Get the unique response types
response_types = df_with_words['company_response_to_consumer'].unique()

# Initialize an empty dictionary to store the unique words for each response type
unique_words = {}

# For each response type
for response in response_types:
    # Get the words associated with this response type
    words = word_counts_ones.loc[response]
    
    # Get the words that are unique to this response type
    unique = words[~words.index.isin(np.concatenate([word_counts_ones.loc[other].index for other in response_types if other != response]))]
    
    # Add the unique words to the dictionary
    unique_words[response] = unique.index.tolist()

# Print the unique words for each response type
for response, words in unique_words.items():
    print(f'Unique words for "{response}" response:')
    print(words)
    print('\n')

In [ ]:
import matplotlib.pyplot as plt

# Get the unique response types
response_types = df_with_words['company_response_to_consumer'].unique()

# For each response type
for response in response_types:
    # Get the top 10 words
    top_words = word_counts_ones.loc[response].nlargest(10)
    
    # Create a bar plot
    plt.figure(figsize=(10, 5))
    plt.bar(top_words.index, top_words.values)
    plt.title(f'Top 10 words for "{response}" response')
    plt.xlabel('Words')
    plt.ylabel('Frequency')
    plt.show()

# Word analyze

In [ ]:
train

In [ ]:
from pyspark.sql.functions import col, sum as spark_sum

# Choose a word to analyze
word = 'fraud'

# Create a new column that indicates whether the narrative contains the word
train_word = train.withColumn(word, when(array_contains(train['lemon'], word), 1).otherwise(0))

# Calculate the frequency of each response when the word is present
response_freq_when_word_present = train_word.filter(col(word) == 1).groupBy('company_response_to_consumer').count()

# Calculate the frequency of each response when the word is not present
response_freq_when_word_not_present = train_word.filter(col(word) == 0).groupBy('company_response_to_consumer').count()

# Calculate the total number of rows when the word is present and when it is not
total_when_word_present = train_word.filter(col(word) == 1).count()
total_when_word_not_present = train_word.filter(col(word) == 0).count()

# Convert the frequency counts to proportions
response_proportions_when_word_present = response_freq_when_word_present.withColumn('proportion', col('count') / total_when_word_present)
response_proportions_when_word_not_present = response_freq_when_word_not_present.withColumn('proportion', col('count') / total_when_word_not_present)

# Display the results
response_proportions_when_word_present.show()
response_proportions_when_word_not_present.show()

# Is there a relationship/bias for servicemember tags in relation to company response over the average person?

In [ ]:
import pandas as pd
from scipy.stats import chi2_contingency

The p-value is a measure of the probability that an observed difference could have occurred just by random chance. The lower the p-value, the greater the statistical evidence you have to reject the null hypothesis (i.e., no effect or no difference).

A p-value of 0.0 (or an extremely small number close to zero) is telling you that the likelihood of the observed relationship (in this case, between 'tags' and 'company_response_to_consumer') occurring by chance is extremely low.

In other words, a p-value of 0.0 would provide strong evidence to reject the null hypothesis and conclude that there is a significant relationship between the 'tags' and 'company_response_to_consumer'.

In [ ]:
# Create a cross-tabulation of the two variables
crosstab = pd.crosstab(train['tags'], train['company_response_to_consumer'],normalize='index')
crosstab

In [ ]:
# Create a cross-tabulation of the two variables
crosstab = pd.crosstab(train['tags'], train['company_response_to_consumer'])
crosstab

In [ ]:
# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(crosstab)

# Print the p-value
print('p-value:', p)

In [ ]:
# Create a cross-tabulation of the two variables
crosstab_ser_meb = pd.crosstab(train[train['tags'].isin(['Average Person', 'Servicemember'])]['tags'], train['company_response_to_consumer'])
crosstab_ser_meb

In [ ]:
# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(crosstab_ser_meb)

# Print the p-value
print('p-value:', p)

In [ ]:
# Create a cross-tabulation of the two variables
crosstab_ser_meb = pd.crosstab(train[train['tags'].isin(['Average Person', 'Servicemember'])]['tags'], train['company_response_to_consumer'], normalize='index')
crosstab_ser_meb

In [ ]:
# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(crosstab_ser_meb)

# Print the p-value
print('p-value:', p)

In [ ]:
### Create a cross-tabulation of the two variables
crosstab_older_ame = pd.crosstab(train[train['tags'].isin(['Average Person', 'Older American'])]['tags'], train['company_response_to_consumer'], normalize='index')
crosstab_older_ame

In [ ]:
# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(crosstab_older_ame)

# Print the p-value
print('p-value:', p)

In [ ]:
# Create a cross-tabulation of the two variables
crosstab_oas = pd.crosstab(train[train['tags'].isin(['Average Person', 'Older American, Servicemember'])]['tags'], train['company_response_to_consumer'], normalize='index')
crosstab_oas

In [ ]:
# Perform the chi-square test
chi2, p, dof, expected = chi2_contingency(crosstab_oas)

# Print the p-value
print('p-value:', p)

the two variables are 'tags' and 'company_response_to_consumer'. The null hypothesis for this test is that there is no association between these two variables, meaning that the distribution of 'company_response_to_consumer' is the same for each category of 'tags'.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Create a cross-tabulation of the two variables
crosstab = pd.crosstab(train['tags'], train['company_response_to_consumer'])

# Create a heatmap
plt.figure(figsize=(10, 7))
sns.heatmap(crosstab, annot=True, fmt='d', cmap='YlGnBu')

plt.title('Heatmap of Tags vs Company Response')
plt.xlabel('Company Response to Consumer')
plt.ylabel('Tags')
plt.show()

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

# Initialize the sentiment intensity analyzer
sia = SentimentIntensityAnalyzer()

# # Replace None with '' (empty string)
# df_2['narrative'] = df_2['narrative'].fillna('')

# Apply the sentiment intensity analyzer to the 'narrative' column
train['sentiment'] = train['lemon'].apply(lambda complaint: sia.polarity_scores(complaint))

# Now each complaint has a sentiment score

In [ ]:
train['sentiment']

# Do some companies proportionally give better or worse responses (relief/no relief)?

In [ ]:
df.company_public_response.value_counts()

In [ ]:
# Group by company and response type, and count the number of each response type for each company
response_counts = train.groupby(['company_name', 'company_response_to_consumer']).size().unstack(fill_value=0)

In [ ]:
response_counts

In [ ]:
# Calculate the total number of responses for each company
total_responses = response_counts.sum(axis=1)

In [ ]:
total_responses

In [ ]:
# Divide the counts by the total number of responses to get the proportion of each response type for each company
response_proportions = response_counts.divide(total_responses, axis=0)

In [ ]:
response_proportions

In [ ]:
print(train['company_response_to_consumer'].unique())

In [ ]:
response_proportions['Closed with explanation'].nlargest(10)

In [ ]:
response_proportions['Closed with explanation'].nlargest(10)

In [ ]:
response_proportions['Closed with non-monetary relief'].nlargest(10)

In [ ]:
# Filter companies with more than 100 complaints
filtered_response_counts = response_counts[total_responses > 100]

In [ ]:
filtered_response_counts

In [ ]:
# Recalculate the proportions
filtered_response_proportions = filtered_response_counts.divide(total_responses, axis=0)

In [ ]:
filtered_response_proportions.head(15)

In [ ]:
# Get the top 10 companies for 'Closed with explanation'
filtered_response_proportions['Closed with explanation'].nlargest(10)

In [ ]:
# Filter companies with more than 100 complaints
filtered_response_counts = response_counts[total_responses > 100]

In [ ]:
filtered_response_counts

In [ ]:
# Also filter total_responses
filtered_total_responses = total_responses[total_responses > 100]

In [ ]:
filtered_total_responses['The Law Offices of Mitchell D. Bluhm & Associates']

In [ ]:
# Recalculate the proportions
filtered_response_proportions = filtered_response_counts.divide(filtered_total_responses, axis=0)

In [ ]:
filtered_response_proportions

In [ ]:
# Get the top 10 companies for 'Closed with explanation'
filtered_response_proportions['Closed with explanation'].nlargest(10)

In [ ]:
# Get the top 10 companies for 'Closed with monetary relief'
filtered_response_proportions['Closed with monetary relief'].nlargest(10)

In [ ]:
# Filter the response_proportions DataFrame for 'Blackhawk Network Holdings Inc.'
blackhawk_responses = response_proportions.loc['Blackhawk Network Holdings Inc.']

In [ ]:
blackhawk_responses

In [ ]:
# Filter the response_counts DataFrame for 'Blackhawk Network Holdings Inc.'
blackhawk_counts = response_counts.loc['Blackhawk Network Holdings Inc.']
blackhawk_counts

In [ ]:
# Filter the DataFrame for 'Blackhawk Network Holdings Inc.'
blackhawk_df = train[train['company_name'] == 'Blackhawk Network Holdings Inc.']

# Group by 'company_public_response' and count the number of complaints in each group
blackhawk_comments = blackhawk_df.groupby(df['company_public_response']).size()
blackhawk_comments

In [ ]:
# Add 'company_public_response' to the train DataFrame
train['company_public_response'] = df['company_public_response']

In [ ]:
# Group by 'company_public_response' and get all complaints in each group
blackhawk_comments = blackhawk_df.groupby('company_public_response')['lemon'].apply(list)

blackhawk_comments

In [ ]:
# Group by 'company_public_response' and get all complaints in each group
blackhawk_comments = blackhawk_df.groupby('company_response_to_consumer')['lemon'].apply(list)

# Print the result
print(blackhawk_comments)

In [ ]:
# Filter the DataFrame for 'Blackhawk Network Holdings Inc.'
blackhawk_df = df[df['company_name'] == 'Blackhawk Network Holdings Inc.']

# Filter the DataFrame for rows where 'company_public_response' is not null
blackhawk_responses = blackhawk_df[blackhawk_df['company_response_to_consumer'].notna()]

# Print the result
print(blackhawk_responses)

In [ ]:
# Get the top 10 companies for 'Closed with non-monetary relief'
filtered_response_proportions['Closed with non-monetary relief'].nlargest(10)

In [ ]:
# Define a function that categorizes each response
def categorize_response(response):
    if response in ['Closed with monetary relief', 'Closed with non-monetary relief']:
        return 'relief'
    else:
        return 'no relief'

# Apply the function to the 'company_response_to_consumer' column
train['response_category'] = train['company_response_to_consumer'].apply(categorize_response)

In [ ]:
# Group by company and response category, and count the number of each category for each company
category_counts = train.groupby(['company_name', 'response_category']).size().unstack(fill_value=0)

In [ ]:
category_counts

In [ ]:
# Calculate the total number of responses for each company
total_responses = category_counts.sum(axis=1)

In [ ]:
total_responses

In [ ]:
# Divide the counts by the total number of responses to get the proportion of each category for each company
category_proportions = category_counts.divide(total_responses, axis=0)

# Now, category_proportions is a DataFrame where each row corresponds to a company and each column corresponds to a response category.
# The values are the proportion of each category for each company.

In [ ]:
category_proportions['relief'].nlargest(10)

In [ ]:
# Create a cross-tabulation of the two variables
crosstab_oas = pd.crosstab(train[train['tags'].isin(['Average Person', 'Older American, Servicemember'])]['tags'], train['company_response_to_consumer'], normalize='index')
crosstab_oas

# Another way of exploring specific companies that leave comments

In [ ]:
sample_df = train.sample(frac=0.1)

In [ ]:
# List of companies you're interested in
companies = ['Blackhawk Network Holdings Inc.', 'Empowerment Ventures, LLC', 'Comerica', 
             'AMERISAVE MORTGAGE CORPORATION', 'FIRST NATIONAL BANK OF PENNSYLVANIA', 
             'MUFG AMERICAS HOLDINGS CORPORATION', 'WEBSTER BANK, NATIONAL ASSOCIATION', 
             'BANK OF AMERICA, NATIONAL ASSOCIATION', 'CHECK INTO CASH INC.', 
             'REGIONS FINANCIAL CORPORATION']

# Filter the DataFrame
filtered_df = train[train['company_name'].isin(companies) & train['company_response_to_consumer'].notna()]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize a CountVectorizer
vectorizer = CountVectorizer(max_features=1000, stop_words='english')

In [ ]:
# Fit the vectorizer to the 'company_public_response' column and transform the column into a matrix
word_matrix = vectorizer.fit_transform(filtered_df['company_response_to_consumer'])

In [ ]:
# Convert the matrix into a DataFrame
word_df = pd.DataFrame(word_matrix.toarray(), columns=vectorizer.get_feature_names())

In [ ]:
# Add the 'company_name' column to the word DataFrame
word_df['company_name'] = filtered_df['company_name'].values

In [ ]:
# Group by company and calculate the mean of each word column
word_means = word_df.groupby('company_name').mean()

In [ ]:
# Get the top 10 words for each company
top_words = word_means.T.apply(lambda x: x.nlargest(10).index.tolist())

In [ ]:
top_words

In [ ]:
sample_df = train.sample(frac=0.1)

In [ ]:
# List of companies you're interested in
companies = ['Blackhawk Network Holdings Inc.', 'Empowerment Ventures, LLC', 'Comerica', 
             'AMERISAVE MORTGAGE CORPORATION', 'FIRST NATIONAL BANK OF PENNSYLVANIA', 
             'MUFG AMERICAS HOLDINGS CORPORATION', 'WEBSTER BANK, NATIONAL ASSOCIATION', 
             'BANK OF AMERICA, NATIONAL ASSOCIATION', 'CHECK INTO CASH INC.', 
             'REGIONS FINANCIAL CORPORATION']

# Filter the DataFrame
filtered_df_2 = train[train['company_name'].isin(companies) & train['lemon'].notna()]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize a CountVectorizer
vectorizer_2 = CountVectorizer(max_features=1000, stop_words='english')

In [ ]:
# Fit the vectorizer to the 'lemon' column and transform the column into a matrix
word_matrix_2 = vectorizer.fit_transform(filtered_df_2['lemon'])

In [ ]:
# Convert the matrix into a DataFrame
word_df_2 = pd.DataFrame(word_matrix_2.toarray(), columns=vectorizer.get_feature_names())

In [ ]:
# Add the 'company_name' column to the word DataFrame
word_df_2['company_name'] = filtered_df_2['company_name'].values

In [ ]:
# Group by company and calculate the mean of each word column
word_means_2 = word_df_2.groupby('company_name').mean()

In [ ]:
# Get the top 10 words for each company
top_words_2 = word_means_2.T.apply(lambda x: x.nlargest(10).index.tolist())

In [ ]:
top_words_2